*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 100vw;
    max-height: 100vh;
    background-color: hsl(225, 100%, 94%);
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    width: 100%;
}
body p{
    color: hsl(224, 23%, 55%);
}
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    width: 24%;
    background-color: white;
    margin-left: 500px;
    margin-top: 90px;
}

.img-head{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.container-content{
    padding: 0vh 2vw 0vh 2vw;
}
.com{
    margin-top: 4vh;
}
.plan-box{
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}
.box-a{
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: flex-start;
    align-items: center;
}
.box-icon{
   
}
.box-content{
    padding-left: 1vw;
    text-align: left;
    align-items: center;
}
.plan-links{
    display: flex;
    flex-direction: column;
}
.cta{
    color: hsl(245, 75%, 52%);
}
.but-proceed{
    border-radius: 10px;
    padding: 10px 5px 10px 5px;
    text-decoration: none;
    background-color: hsl(245, 75%, 52%);
    color: hsl(225, 100%, 98%);
}
.but-cancel{
    padding: 10px 5px 10px 5px;
    margin: 3vh 0 5vh 0;
    text-decoration: none;
    color: hsl(245, 75%, 52%);
}
.attribution{
    margin-top: 20px;
}